<body>

<form class="center" action="/signin" method="POST"  >
<label>Email: </label><input type="text" name="email"><br><br>
<label>Password: </label><input type="password" name="password"><br><br><br>
<input type="submit" name="submit" value= "Login">
</form>
<br><br><br>
<hr><br>
<a href="/signup"> JOIN NOW ! ? </a>
</body>
<style>
body  {
       background-color: #cccccc;
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
</style>
