<body>
<form action="/register" method="POST">
<label>Email: </label><input type="text" name="email"><br> <br>
<label>Password: </label><input type="password" name="password"><br><br>
<hr>
<input type="submit" name="submit" value= "SIGN UP">
</form>
</body>
<style>
body  {
       background-color: #cccccc;
}
</style>
